 <footer class="page-footer grey darken-1">
  <div class="container">
    <div class="row">
    <div class="col l6 s12">
		<div class="footer-logo">
		<a href="/"><img src="/img/scvdata_logo.png"></a>
	  </div>	
		<p>25050 Ave Kearny #212, Valencia, CA 91355</p>
		<p>support@scvdata.com</p>
		<p>661-600-5333</p>  
		
		</div>
		 <div class="col l4 offset-l2 s12">
			<h5 class="white-text">Sitemap</h5> 
			<ul>
			 <li><a class="grey-text text-lighten-3" href="#!">Services</a></li>
			 <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
			 <li><a class="grey-text text-lighten-3" href="#!">Support</a></li>
			 <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
			 <li><a class="grey-text text-lighten-3" href="#!">Services</a></li>
			 <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
			 <li><a class="grey-text text-lighten-3" href="#!">Services</a></li>
			 <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
			</ul>
		 </div>
	</div>
	</div>
	<div class="footer-copyright">
	<div class="container">
		  SCVData. All Rights Reserved. © 2018
    </div>
  </div>
</footer>