<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% include header.html %}
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <!-- <script type="text/javascript" src="/assets/js/script.js"></script> -->
    <script type="text/javascript" src="{{ "assets/js/script.js" | relative_url }}"></script>
<main>

<!-- HOME PAGE SLIDER -->
<div class="slider">
  <ul class="slides">
    <li>
      <img src="img/cover.jpg"> <!-- random image -->
      <div class="caption center-align">
      <h1>CUSTOM I.T. SERVICES YOU CAN UNDERSTAND</h1>
      <h5 class="light grey-text text-lighten-3 hide-on-small-only">Computers don't have to be complicated SCVdata's customized plans make managing I.T. simple.</h5>
      <a class="waves-effect waves-light btn">LEARN MORE</a>
      </div>
    </li>
    <li>
      <img src="img/development.jpg"> <!-- random image -->
      <div class="caption left-align">
      <h1>CUSTOM WEB DEVELOPMENT</h1>
      <h5 class="light grey-text text-lighten-3 hide-on-small-only">Here's our small slogan.</h5>
      <a class="waves-effect waves-light btn">button</a>
      </div>
    </li>
    <li>
      <img src="img/strategy.jpg"><!-- random image -->
      <div class="caption right-align">
      <h1>TECHNOLOGY STRATEGY</h1>
      <h5 class="light grey-text text-lighten-3 hide-on-small-only">Here's our small slogan.</h5>
      <a class="waves-effect waves-light btn">button</a>
      </div>
    </li>
  </ul>
</div>
<!-- HOME PAGE SLIDER -->

<!-- WHO WE ARE -->
<section>
  <div class="row">
    <div class="container">
      <div class="col s12">
        <h5 class="center-align">WHO WE ARE</h5>
        <hr>
          <div class="col xl2"></div>
          <div class="col s12 m12 l12 xl8">
          <p class="center-align" style="text-align: justify;">SCVdata has been providing custom business solutions for our customers for the past 15 years.  We specialize in coming alongside business owners from various industries and assisting them in finding simple, cost-effective solutions which help their staff work more efficiently with lower business costs.</p>
          </div>
          <div class="col xl2"></div>
      </div>
    </div>
  </div>
</section>
<!-- WHO WE ARE -->

<!-- WHAT WE DO -->
<section class="grey lighten-3">
  <div class="container what-we-do">
    <div class="row">
      <div class="col s12">
      <h5 class="center-align">WHAT WE DO</h5>
      <hr>
        <div class="col s12 m4 l4 xl4">
        <div class="card-panel center hoverable" onclick="location.href='#';" style="cursor: pointer;">
          <i class="large material-icons">show_chart</i>
          <p class="card-title">Technology Strategy</p>
        </div>
        </div> 
        <div class="col s12 m4 l4 xl4">
        <div class="card-panel center hoverable" onclick="location.href='#';" style="cursor: pointer;">
          <i class="large material-icons">storage</i>
          <p class="card-title">Data Security</p>
        </div>
        </div>
        <div class="col s12 m4 l4 xl4">
        <div class="card-panel center hoverable" onclick="location.href='#';" style="cursor: pointer;">
          <i class="large material-icons">code</i>
          <p class="card-title">Web and App Development</p>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- WHAT WE DO -->

<!-- WHO WE HELP -->
<section>
 <div class="container who-we-help"> 
  <div class="row">
    <div class="col s12">
      <h5 class="center-align">WHO WE HELP</h5>
      <hr>
      <br>
      <div class="row who-we-help-fade">
          <div class="col s6 m4 l4 xl4 center-align icon-card">
            <i class="large material-icons">business</i>
            <p>Accounting and Law Firms</p>
          </div>
          <div class="col s6 m4 l4 xl4 center-align icon-card">
            <i class="large material-icons">local_shipping</i>
            <p>Food Distributors</p>
          </div>
          <div class="col s6 m4 l4 xl4 center-align icon-card">
            <i class="large material-icons">home</i>
            <p class="card-title">Real Estate</p>
          </div>
          <div class="col s6 m4 l4 xl4 center-align icon-card">
            <i class="large material-icons">local_hospital</i>
            <p class="card-title">Medical Offices</p>
          </div>
          <div class="col s6 m4 l4 xl4 center-align icon-card">
            <i class="large material-icons">favorite_border</i>
            <p class="card-title">Nonprofits</p>
          </div>
          <div class="col s6 m4 l4 xl4 center-align icon-card">
            <i class="large material-icons">build</i>
            <p class="card-title">Construction Companies</p>
          </div>
      </div>
    </div>
  </div>
</div>
</section>  
<!-- WHO WE HELP -->

<!-- PARALLAX -->
<section class="parallax-container">
  <div class="parallax"><img src="img/server.png"> </div>
  <div class="container">
    <div class="row">
      <div class="col s12 right-align">
      <i class="medium material-icons">security</i>
      <h4>IS YOUR DATA SECURE?</h4>
      <a class="waves-effect waves-light btn">SEE HOW WE CAN HELP</a>
      </div>
    </div>
  </div>
</section>
<!-- PARALLAX -->

<!-- OUR CLIENTS -->
<section>
    <div class="container our-clients">
    <div class="row">
      <div class="col s12">
        <h5 class="center-align">SOME OF OUR CLIENTS</h5>
        <hr>
        <br>
        <div class="row clients-fade">
        <div class="col s6 m6 l3 center-align clients-logo">
          <img src="img/ramboard-logo-gray.png" alt="ramboard" height="65" width="110">  
        </div>
        <div class="col s6 m6 l3 center-align clients-logo">
          <img src="img/friendly-logo-gray.PNG" alt="friendly-foods" height="65" width="110"> 
        </div>
        <div class="col s6 m6 l3 center-align clients-logo">
          <img src="img/scva-logo-gray.png" alt="scva" height="65" width="110"> 
        </div>
        <div class="col s6 m6 l3 center-align clients-logo">
          <img src="img/ramboard-logo-gray.png" alt="ramboard" height="65" width="110">  
        </div>
        </div>
        <div class="row clients-fade">
        <div class="col s6 m6 l3 center-align clients-logo">
          <img src="img/friendly-logo-gray.PNG" alt="friendly-foods" height="65" width="110">  
        </div>
        <div class="col s6 m6 l3 center-align clients-logo">
          <img src="img/scva-logo-gray.png" alt="scva" height="65" width="110">
        </div>
        <div class="col s6 m6 l3 center-align clients-logo">
          <img src="img/ramboard-logo-gray.png" alt="ramboard" height="65" width="110">
        </div>
        <div class="col s6 m6 l3 center-align clients-logo">
          <img src="img/friendly-logo-gray.PNG" alt="friendly-foods" height="65" width="110">
        </div>
        </div>
      </div>
    </div>
    </div>
  </section>  
  <!-- OUR CLIENTS -->

<!-- CONTACT US -->
<section class="grey lighten-3">
  <div class="container">
    <div class="row">
      <div class="col s12">
      <h5 class="center-align">CONTACT US</h5>
      <hr>
      <br>
      </div>
      <div class="col xl2"></div>
      <div class="col s12 m12 l12 xl8">
            <div class="contact-form z-depth-1 white">
            <div class="row">
                <div class="input-field col s6">
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                  <input id="last_name" type="text" class="validate">
                  <label for="last_name">Last Name</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="email" type="text" class="validate">
                  <label for="email">Email</label>
                </div>
              </div>
                <div class="row">
                    <div class="input-field col s12">
                      <input id="message" type="text" class="validate">
                      <label for="message">Message</label>
                    </div>
                  </div>
                  <div class="card-action">
                      <a href="#">Send Message</a>
                  </div>        
            </div>      
      </div>
      <div class="col xl2"></div>
    </div>
  </div>  
</section>
<!-- CONTACT US -->  
  
</main>
</body>

{% include footer.html %}
</html>